<% if logged_in? %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>最近追加された水族館</h1>
      <!--ここに水族館の一覧を表示させる-->
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>最近追加された水族館</h1>
      <!--ここに水族館の一覧を表示させる-->
      <%= link_to '会員登録', signup_path, class: 'btn btn-sm btn-info' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-sm btn-info' %>
    </div>
  </div>
<% end %>