<header class="mb-4">
  <!--ナビバーの文字・背景を表示-->
  <nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <!--ブランド名を指定-->
  <a class="navbar-brand" href="#">
    <i class="fas fa-fish"></i>
  </a>
    <!--画面幅に合わせて開閉式のメニューボタンを表示-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--メニュー項目-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link">会員登録</a></li>
        <li class="nav-item"><a href="#" class="nav-link">ログイン</a></li>
      </ul>
    </div>
  </nav>
</header>